$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;

$mobile-width: "(min-width: 320px)";
$mobile-width-only: "(max-width: 767px)";
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1200px)";