.order {
  @include light-corner;
  position: relative;
  background-color: $bg-lightgrey;
  padding-bottom: 40px;
  color: #000;
}

.order__wrapper {
  @include container-fluid;
  padding-left: 20px;
  padding-right: 20px;
}

.order__title {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding-top: 33px;
  padding-bottom: 33px;
  text-align: center;
  text-transform: uppercase;
}

.btn--to-main {
  display: none;
}

@media #{$tablet-width} {
  .order {
    padding-bottom: 75px;
  }
  .order__wrapper {
    padding-right: 0;
    padding-left: 0;
  }
  .order__header {
    position: relative;
    padding-top: 20px;
    padding-bottom: 48px;
  }
  .order__title {
    font-size: 40px;
    text-align: left;
  }
  .btn--to-main {
    display: block;
    position: absolute;
    top: 22px;
    right: 0;
    width: auto;
  }
}